/* NHNNEXT Development Practice Project RUWORKING HTH 141112 */ 

/* webfont */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset.css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0} body,input,textarea,select,button,table{font-family:'나눔고딕','Nanum Gothic','돋움',Dotum, Helvetica,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline} .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height: 1px;font-size:0;line-height:0}

/* custom */
html { height:100%;}
body { background-color:#272822; overflow:auto;font-family: nanum-gothic;}
input {box-sizing:border-box;}
:focus {outline: none}  /* for chrome */

#body-container {
    width:100%;
    max-width: 960px;
    margin:0 auto;
    margin-top: 30px;
    border:#ccc;
    background-color: #fff;
    overflow: auto;
}

header {
    width:100%;
    height: 80px;
    line-height:90px;
    background-color: #577EF2;
    color:#fff;
    font-size: 45px;
    text-align: left;
}

section {
    width:50%;
    height:100%;
    min-height: 300px;
    background-color: #F9F9F9;
    float:left;
    position: relative;
}

section:nth-of-type(1) {
    border-right:1px solid #ccc;
}

section .title {
    margin-left: 5%;
    font-size:25px;
    font-weight: bold;
    padding: 20px 0px 10px 8px;
    float:left;
}

section .noti {
    width:90%;
    margin-left: 5%;
    background-color: #fff;
    border:1px solid #efefef;
    padding: 15px;
    font-size: 14px;
    box-sizing:border-box;
    float:left;
}

section:nth-of-type(2) {
    width:calc(50% - 1px);
}

section .info-container {
    float:left;
}

section .info-container .input-wrap {
    width:87%;
    height:45px;
    font-size:15px;
    padding: 15px;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: 6%;
    border:1px solid #ccc;
    border-bottom: 0px;
    background-color: #fff;
    float:left;
    color: #8A898B;
}

section .info-container .input-wrap:nth-last-of-type(2) {
    border-bottom: 1px solid #ccc;    
}

#gohome {
    width :87%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    background-color: #33B679;
    float: left;
    margin-top: 9px;
    margin-left: 6%;
}