/* NHNNEXT Development Practice Project RUWORKING HTH 141112 */ 

/* webfont */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset.css */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0} body,input,textarea,select,button,table{font-family:'나눔고딕','Nanum Gothic','돋움',Dotum, Helvetica,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline} .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height: 1px;font-size:0;line-height:0}

/* custom */
html { height:100%;}
body { background-color:#272822; overflow:auto;font-family: nanum-gothic;}
input {box-sizing:border-box;}
:focus {outline: none}  /* for chrome */

#body-container {
    width:100%;
    max-width: 960px;
    margin:0 auto;
    margin-top: 30px;
    border:#ccc;
    background-color: #fff;
    overflow: auto;
}

header {
    width:100%;
    height: 80px;
    line-height:90px;
    background-color: #577EF2;
    color:#fff;
    font-size: 45px;
    text-align: left;
}

span.fail {
	width:100%;
	height:40px;
	line-height:43px;
	background-color:#EB3E3F;
	display:inline-block;
	color:#fff;
	text-align:center;
	font-size:17px;
}

section {
    width:50%;
    height:100%;
    min-height: 530px;
    background-color: #F9F9F9;
    float:left;
    position: relative;
}

section:nth-of-type(1) {
    border-right:1px solid #ccc;
}

section .title {
    margin-left: 5%;
    font-size:25px;
    font-weight: bold;
    padding: 20px 0px 10px 8px;
    float:left;
}

section .terms {
    width:90%;
    margin-left: 5%;
    background-color: #fff;
    border:1px solid #efefef;
    padding: 15px;
    font-size: 14px;
    box-sizing:border-box;
    float:left;
}

section .agree {
    width:90%;
    margin-left: 7%;
    margin-top: 15px;
    float:left;
}

section .showregistererror {
    width:90%;
    padding: 15px;
    margin-left: 5%;
    background-color:#FE7F00;
    font-size: 20px;
    text-align: center;
    float:left;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #F96868;
    margin-top: 15px;
    display: none;
}

section .showregistererror span {
    font-size: 14px;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 23px;
}

section:nth-of-type(2) {
    width:calc(50% - 1px);
}

section form {
    float:left;
}

section form .input-wrap {
    width:87%;
    margin-left: 6%;
    border:1px solid #ccc;
    border-bottom: 0px;
    float:left;
}

section form .input-wrap:nth-last-of-type(3) input {
    border-bottom: 1px solid #ccc;    
}

section form .validate-info {
    width:100%;
    height:30px;
    line-height: 34px;
    padding-left: 10px;
    display:inline-block;
    color:#ffffff;
    font-size: 14px;
    font-weight: 900;
    background-color: #577ef2;
    box-sizing: border-box;
    display: none;
}

section form .validate-big {
    width:100%;
    height:50px;
    line-height: 22px;
    padding-top: 5px;
}

section form input {
    width: 100%;
    height:45px;
    font-size:15px;
    padding: 15px;
    font-weight: bold;
    border:0px;
}

section form .gender-wrap {
    width:87%;
    margin-left: 6%;
    margin-top: 10px;
    float:left;
}

section form .gender-wrap .male, section form .gender-wrap .female{
    width:50%;
    height:45px;
    float:left;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

section form .gender-wrap .male, section form .gender-wrap .female {
    width:50%;
    position:relative;
}

section form .gender-wrap .male label {
    background-color: #5182F5;
    position: absolute;
    width: 100%;
    left: 0px;
    height:45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 48px;
}

section form .gender-wrap .female label {
    background-color: #F96868;
    position: absolute;
    width: 100%;
    height:45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 48px;
    left:0px;
}

section form .gender-wrap input[type=radio] {
    opacity: 0;
}  

section form .gender-wrap .male input[type="radio"]:checked+label {
     background-color: #3D61B8;
     border:2px solid #365BD8;
     box-sizing: border-box;
}

section form .gender-wrap .female input[type="radio"]:checked+label {
     background-color: #D74E58;
     border:2px solid #DA484F;
     box-sizing: border-box;
}

#submit {
    width :87%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    background-color: #33B679;
    float: left;
    margin-top: 9px;
    margin-left: 6%;
}